@import '../global/ac-lib';
#footer {
	position: relative;
	height: $footerheight;
	margin: 0; padding:0;

	#that_one_line_at_the_bottom {
		@include makealine (70%, $mcentered, .27);
	}
	
}

#footcontent {
	position: relative;
	box-sizing: border-box;
	height:60%;
	margin-left: 12.67%; margin-right: 20%;
	padding-top:25px;
	background: $htmlbackground;


	.colspan-3-12 {
		@include makexofn (3, 10);

	}

	.colspan-5-12 {
		@include makexofn (4, 10);
	}

	.footcolumn {
		float:left;
	}

	.footcolitem:hover {
		color: $secondary-color;
	}
}
	
#footfoot {
	position: relative;
	height:30%;
	background: $primary-color;
	@extend .navlinkfont;
	
	color: #fff;

	
	#copyrightwrapper {
		float: right;
		width:33%;

		img {
			display:block;
			width:60%;
			margin:3% auto 0;
		}

		#copyrightspan {
			font-size: 70%;
			text-align:center;
		}
	}
}