@import 'ac-constants';


// General Style
	$fontfamily: Verdana, Geneva, sans-serif;
	$basefontsize: 12px;
	$baselineheight: 18px;
	$htmlbackground: #f3f3f3;


// Style for Wrapper
	$bodywidth: 1020px;
	$mcentered: 0 auto;
	$outergutter: 40px;
	$innergutter: 60px;


//Style for the tabs/buttons at top
	


// Style for tiles
	$tilewidth: $bodywidth/3;
	$tileheight: $tilewidth/.7;
	$tilemargin: 2% 0;
	//tag	
		$tiletagheight:$tileheight*.04;
	//image		
		$tileimageheight:$tileheight*.37;
	//headline
		$headlinefontfamily: Arial, Helvetica, sans-serif;
		$tileheadlineheight:$tileheight*.13;
		$tileheadlinefontsize: 1.9*$basefontsize;
		$tileheadlinelineheight:1.4*$baselineheight;
	//text
		$tiletextheight:$tileheight*.28;
		$tiletextfontsize: .6*$basefontsize; 
		$tiletextlineheight: .5*$baselineheight;
	//tilefoot	
		//author
			//$tileauthorheight:$tileheight*.09;
			$tileauthorfontsize: .9*$basefontsize;

	$tilefontcolor: #34363f;
	$tiletagcolor: #f6ac9a;
