//AsianCrush Front Page scss
@import 'library/ac-mixins';
@import 'library/ac-variables';


.clearfix {
	clear:both;
}

.heavytext {
	font-family: Arial, Helvetica, sans-serif; font-size: 14px;
	line-height: 18px; letter-spacing: .05em; font-weight: bold;
}

.readabletext {
	font-family: Verdana, Geneva, sans-serif; font-size: 12px;
	line-height: 17px; letter-spacing: .05em; 
}

html { width: 100%; height: 100%; }
body {
	width: 100%; min-width: 1060px;
	height: 100%;
	margin: 0; padding: 0; border: 0;
	background: $htmlbackground; color: $primary-color;
	@extend .heavytext;
}


.textarea-shape{
	position:relative;
    width: 80%; margin-left: 10%;
    height:45%; min-height: 1em;
    -moz-border-radius: 5% / 50%;
    -webkit-border-radius: 5% / 50%;
	border-radius: 5% / 50%;
    background: #fff;
}

textarea {
	@extend .heavytext;
	@extend .textarea-shape;
	width: 90%; float:right;
	margin-top:2%; padding-bottom:2%;
	border:none; border-style:none;
	
	resize:none;
	wrap:soft;
    outline: none;
    overflow-x:auto; overflow-y:hidden;
}


#header {
	position: relative;
	background: $primary-color;
	height: $headerheight;

	#logochunk {
		//background: green;
		width: $logochunk; height: inherit;
		float:left;

		img {
			@include scalenpad(78%, 4%, 8%);
		}

	}

	#headerstuffchunk {
		width: $headerstuffchunk; height: inherit;
		float:right;


		.chunkpiece {
			display: table;
			height: inherit;
			float: right;
			color:$tertiary-color;

			span {
				display:table-cell;
				vertical-align:middle; text-align: center;
				margin: $mcentered;
				color:inherit;
			}

			.smicon {
				position:relative;
				display:inline-block;
				margin: 0 -8%;
				img {
					width: 40%;
				}
			}
		}

		.button {
			&:hover {
			background:lighten($primary-color, 10%);
			color: lighten($secondary-color, 20%);
			}
		}


		//Grid definitions
			.grid-2-14 {
				position: relative;
				//background: blue;
				@include makexofn (2, 14);
				//border: 1px solid black;
			}

			.grid-3-14 {
				position: relative;
				//background: pink;
				@include makexofn (3, 14);
				//border: 1px solid black;
			}

			.grid-5-14 {
				position: relative;
				//background: pink;
				@include makexofn (5, 14);
				//border: 1px solid black;
			}


	}

}

#masthead {
	position: relative;
	height:$mastheadheight;
	overflow:hidden;

	#carousel{
		.mastframe {

			img {
				width: 110%;
			}
			
			position: relative;


			#overlay-matte {
				position: absolute;

			}

			#overlay-text {
				position: absolute;
			}
		}
	}
}

#pagebody {
	position: relative;
	background: $htmlbackground;

	#tabrow {
		position: relative;
		width: $bodywidth;
		margin: $mcentered;
		padding: 5% 0 0;
		
		.nav {
			position:relative;
			margin: 0 4px 0 0; padding: 1px 8px;
			border-radius: 15% 15% 0 0;
			float:left; bottom: 0px;
			background:lighten($secondary-color, 20%); color: white;
			&:hover {
				background: $secondary-color;
			}
		}

		.selected {
			background: $secondary-color;
			&:hover {
				background: lighten($secondary-color, 20%);
			}
		}
	}

	#that_one_line_at_the_top {
		@include makealine (90%, $mcentered, .27);
	}



	#tilewrapper{
		position:relative;	
		width: $bodywidth;
		background: #fff;
		margin: $mcentered; padding: 0 3%;
		letter-spacing: -5px;

		.tile{
			box-sizing:border-box;
			letter-spacing: .08em;
			position: relative;
			//border: 1px solid black;
			//background:#f32;
			display: inline-block;
			width: $tilewidth; height: $tileheight;
			padding: 1% 3% .4%; margin: $tilemargin;
			overflow:hidden;

			.tag {
				height: $tiletagheight;
				padding: 0 3px;
				background: lighten($secondary-color, 20%); color: white;
				border-radius: 8% 8% 0 0;
				float: left;
				&:hover {
					background: $secondary-color;
					}

			}
			
			.date {
				float: right;
			}
			
			.image {
				clear:both;
				overflow:hidden;
				position: relative; display:block;
				width:100%; height:$tileimageheight;
				//background-image:url("http://u.zype.com/53e8d7f869702d5b64010000/zobject_image/549484e069702d4340720200/1419019486/original.png?1419019486");
				//background-position: center
				img {
					position:relative;
					width: inherit;
					margin: 0 auto;
				}
			}
		
			.headline {
				margin: 4% 0;
				height:auto;
				font-size: $tileheadlinefontsize; line-height:$tileheadlinelineheight;
				font-family: $headlinefontfamily;

				//background: red;
				&:hover {
					color: lighten($tilefontcolor, 20%);
					}
			}

			.text {
				overflow:hidden;
				display:block;
				font-weight: 500; padding:5% 0; 


				//background: green;
			}

			.tilefoot{
				position: absolute;
				//background: green;
				width:80%; bottom:0px;
				padding:0; margin:0;			

				.author {
					position: absolute;
					display:block;
					text-align:right; font-weight: normal;
					top:0px; right:0px; 
					font-size: $tileauthorfontsize;
				}

				.readmore {
					position: absolute;
					display:block;
					top:0px; left:0px;
					font-size: $tileauthorfontsize;
				}
			}
		}
	}

}

#footer {
	position: relative;
	height: $footerheight;
	margin: 0; padding:0;

	#that_one_line_at_the_bottom {
		@include makealine (70%, $mcentered, .27);
	}
	
}

#footcontent {
		height:70%;
		background: $htmlbackground;
	}
	
#footfoot {
	position: relative;
	height:30%;
	background: $primary-color;
	@extend .heavytext;
	color: #fff;

	
	#copyrightwrapper {
		float: right;
		width:33%;

		img {
			display:block;
			width:60%;
			margin:3% auto 0;
		}

		#copyrightspan {
			font-size: 70%;
			text-align:center;
		}
	}
}