@font-face {
  font-family: overlayfont;
  src: url("../assets/fonts/ufonts.com_avantgarde-book.ttf"); }
@font-face {
  font-family: navlinkfont;
  src: url("../assets/fonts/ufonts.com_avantgarde-demi-opentype.otf"); }
@font-face {
  font-family: headlinefont;
  src: url("../assets/fonts/Akzidenz-Grotesk-BQ-Bold-Extended_2808.ttf"); }
@font-face {
  font-family: splashtextfont;
  src: url("../assets/fonts/Akzidenz-Grotesk-BQ-Super_2842.ttf"); }
@font-face {
  font-family: tileheadfont;
  src: url("../assets/fonts/Akzidenz-Grotesk-BQ-Regular_2840.ttf"); }
@font-face {
  font-family: footcolheadfont;
  src: url("../assets/fonts/Akzidenz-Grotesk-BQ-Extended_2814.ttf"); }
@font-face {
  font-family: footcolitemfont;
  src: url("../assets/fonts/Akzidenz-Grotesk-BQ-Light_2831.ttf"); }
.overlayfont {
  font-family: overlayfont;
  font-size: .66rem;
  line-height: 1.1rem;
  letter-spacing: .02rem; }

.navlinkfont, #tabrow, #headerstuffchunk, #footfoot {
  font-family: navlinkfont;
  font-size: .66rem;
  line-height: 1.1rem;
  letter-spacing: .02rem; }

.headlinefont {
  font-family: headlinefont;
  font-size: 1.05rem;
  line-height: 1.2rem;
  letter-spacing: -.03rem; }

.splashtextfont, textarea, .tile {
  font-family: splashtextfont;
  font-size: .66rem;
  line-height: 1.1rem;
  letter-spacing: .02rem; }

.tileheadfont, .date, .tag {
  font-family: tileheadfont;
  font-size: .85rem;
  line-height: 1.1rem;
  letter-spacing: .02rem; }

.footcolhead {
  font-family: footcolheadfont;
  margin-bottom: 2em;
  font-size: 1.2rem;
  line-height: .7rem;
  letter-spacing: .2rem; }

.footcolitem {
  font-family: footcolitemfont;
  font-size: auto;
  line-height: 1.45em;
  letter-spacing: auto; }

@font-face {
  font-family: overlayfont;
  src: url("../assets/fonts/ufonts.com_avantgarde-book.ttf"); }
@font-face {
  font-family: navlinkfont;
  src: url("../assets/fonts/ufonts.com_avantgarde-demi-opentype.otf"); }
@font-face {
  font-family: headlinefont;
  src: url("../assets/fonts/Akzidenz-Grotesk-BQ-Bold-Extended_2808.ttf"); }
@font-face {
  font-family: splashtextfont;
  src: url("../assets/fonts/Akzidenz-Grotesk-BQ-Super_2842.ttf"); }
@font-face {
  font-family: tileheadfont;
  src: url("../assets/fonts/Akzidenz-Grotesk-BQ-Regular_2840.ttf"); }
@font-face {
  font-family: footcolheadfont;
  src: url("../assets/fonts/Akzidenz-Grotesk-BQ-Extended_2814.ttf"); }
@font-face {
  font-family: footcolitemfont;
  src: url("../assets/fonts/Akzidenz-Grotesk-BQ-Light_2831.ttf"); }
.overlayfont {
  font-family: overlayfont;
  font-size: .66rem;
  line-height: 1.1rem;
  letter-spacing: .02rem; }

.navlinkfont, #tabrow, #headerstuffchunk, #footfoot {
  font-family: navlinkfont;
  font-size: .66rem;
  line-height: 1.1rem;
  letter-spacing: .02rem; }

.headlinefont {
  font-family: headlinefont;
  font-size: 1.05rem;
  line-height: 1.2rem;
  letter-spacing: -.03rem; }

.splashtextfont, textarea, .tile {
  font-family: splashtextfont;
  font-size: .66rem;
  line-height: 1.1rem;
  letter-spacing: .02rem; }

.tileheadfont, .date, .tag {
  font-family: tileheadfont;
  font-size: .85rem;
  line-height: 1.1rem;
  letter-spacing: .02rem; }

.footcolhead {
  font-family: footcolheadfont;
  margin-bottom: 2em;
  font-size: 1.2rem;
  line-height: .7rem;
  letter-spacing: .2rem; }

.footcolitem {
  font-family: footcolitemfont;
  font-size: auto;
  line-height: 1.45em;
  letter-spacing: auto; }

.clearfix {
  clear: both; }

html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  min-width: 1060px;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  background: #f3f3f3;
  color: #33353e; }

.textarea-shape, textarea {
  position: relative;
  width: 80%;
  margin-left: 10%;
  height: 45%;
  min-height: 1em;
  -moz-border-radius: 5% / 50%;
  -webkit-border-radius: 5% / 50%;
  border-radius: 5% / 50%;
  background: #fff; }

textarea {
  width: 90%;
  float: right;
  margin-top: 2%;
  padding-bottom: 2%;
  border: none;
  border-style: none;
  resize: none;
  wrap: soft;
  outline: none;
  overflow-x: auto;
  overflow-y: hidden; }

#tabrow .nav {
  font-size: 120%; }

.tile .readmore {
  font-size: 115%; }

.date, .tag {
  font-size: 180%;
  padding: 3px; }

#headerstuffchunk .chunkpiece {
  font-size: 120%; }

#header {
  position: relative;
  background: #33353e;
  height: 70px; }
  #header #logochunk {
    width: 20%;
    height: inherit;
    float: left; }
    #header #logochunk img {
      width: 78%;
      margin: 4% 8% 4% 8%; }
  #header #headerstuffchunk {
    width: 66%;
    height: inherit;
    float: right; }
    #header #headerstuffchunk .chunkpiece {
      display: table;
      height: inherit;
      float: right;
      color: #fff; }
      #header #headerstuffchunk .chunkpiece span {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        margin: 0 auto;
        color: inherit; }
      #header #headerstuffchunk .chunkpiece .smicon {
        position: relative;
        display: inline-block;
        margin: 0 -8%; }
        #header #headerstuffchunk .chunkpiece .smicon img {
          width: 40%; }
    #header #headerstuffchunk .button:hover {
      background: #4a4d5a;
      color: #f7a388; }
    #header #headerstuffchunk .grid-2-14 {
      position: relative;
      width: 14.28571%; }
    #header #headerstuffchunk .grid-3-14 {
      position: relative;
      width: 21.42857%; }
    #header #headerstuffchunk .grid-5-14 {
      position: relative;
      width: 35.71429%; }

#masthead {
  position: relative;
  height: 550px;
  overflow: hidden; }

@font-face {
  font-family: overlayfont;
  src: url("../assets/fonts/ufonts.com_avantgarde-book.ttf"); }
@font-face {
  font-family: navlinkfont;
  src: url("../assets/fonts/ufonts.com_avantgarde-demi-opentype.otf"); }
@font-face {
  font-family: headlinefont;
  src: url("../assets/fonts/Akzidenz-Grotesk-BQ-Bold-Extended_2808.ttf"); }
@font-face {
  font-family: splashtextfont;
  src: url("../assets/fonts/Akzidenz-Grotesk-BQ-Super_2842.ttf"); }
@font-face {
  font-family: tileheadfont;
  src: url("../assets/fonts/Akzidenz-Grotesk-BQ-Regular_2840.ttf"); }
@font-face {
  font-family: footcolheadfont;
  src: url("../assets/fonts/Akzidenz-Grotesk-BQ-Extended_2814.ttf"); }
@font-face {
  font-family: footcolitemfont;
  src: url("../assets/fonts/Akzidenz-Grotesk-BQ-Light_2831.ttf"); }
.overlayfont {
  font-family: overlayfont;
  font-size: .66rem;
  line-height: 1.1rem;
  letter-spacing: .02rem; }

.navlinkfont, #tabrow, #headerstuffchunk, #footfoot {
  font-family: navlinkfont;
  font-size: .66rem;
  line-height: 1.1rem;
  letter-spacing: .02rem; }

.headlinefont {
  font-family: headlinefont;
  font-size: 1.05rem;
  line-height: 1.2rem;
  letter-spacing: -.03rem; }

.splashtextfont, textarea, .tile {
  font-family: splashtextfont;
  font-size: .66rem;
  line-height: 1.1rem;
  letter-spacing: .02rem; }

.tileheadfont, .date, .tag {
  font-family: tileheadfont;
  font-size: .85rem;
  line-height: 1.1rem;
  letter-spacing: .02rem; }

.footcolhead {
  font-family: footcolheadfont;
  margin-bottom: 2em;
  font-size: 1.2rem;
  line-height: .7rem;
  letter-spacing: .2rem; }

.footcolitem {
  font-family: footcolitemfont;
  font-size: auto;
  line-height: 1.45em;
  letter-spacing: auto; }

@font-face {
  font-family: overlayfont;
  src: url("../assets/fonts/ufonts.com_avantgarde-book.ttf"); }
@font-face {
  font-family: navlinkfont;
  src: url("../assets/fonts/ufonts.com_avantgarde-demi-opentype.otf"); }
@font-face {
  font-family: headlinefont;
  src: url("../assets/fonts/Akzidenz-Grotesk-BQ-Bold-Extended_2808.ttf"); }
@font-face {
  font-family: splashtextfont;
  src: url("../assets/fonts/Akzidenz-Grotesk-BQ-Super_2842.ttf"); }
@font-face {
  font-family: tileheadfont;
  src: url("../assets/fonts/Akzidenz-Grotesk-BQ-Regular_2840.ttf"); }
@font-face {
  font-family: footcolheadfont;
  src: url("../assets/fonts/Akzidenz-Grotesk-BQ-Extended_2814.ttf"); }
@font-face {
  font-family: footcolitemfont;
  src: url("../assets/fonts/Akzidenz-Grotesk-BQ-Light_2831.ttf"); }
.overlayfont {
  font-family: overlayfont;
  font-size: .66rem;
  line-height: 1.1rem;
  letter-spacing: .02rem; }

.navlinkfont, #tabrow, #headerstuffchunk, #footfoot {
  font-family: navlinkfont;
  font-size: .66rem;
  line-height: 1.1rem;
  letter-spacing: .02rem; }

.headlinefont {
  font-family: headlinefont;
  font-size: 1.05rem;
  line-height: 1.2rem;
  letter-spacing: -.03rem; }

.splashtextfont, textarea, .tile {
  font-family: splashtextfont;
  font-size: .66rem;
  line-height: 1.1rem;
  letter-spacing: .02rem; }

.tileheadfont, .date, .tag {
  font-family: tileheadfont;
  font-size: .85rem;
  line-height: 1.1rem;
  letter-spacing: .02rem; }

.footcolhead {
  font-family: footcolheadfont;
  margin-bottom: 2em;
  font-size: 1.2rem;
  line-height: .7rem;
  letter-spacing: .2rem; }

.footcolitem {
  font-family: footcolitemfont;
  font-size: auto;
  line-height: 1.45em;
  letter-spacing: auto; }

.mastframe {
  position: relative; }
  .mastframe img {
    position: absolute;
    width: 100%; }
  .mastframe #overlay-matte {
    position: absolute;
    height: 57%;
    width: 30%;
    right: 0;
    background: purple; }
  .mastframe #overlay-text {
    position: absolute;
    width: inherit;
    height: inherit;
    background: purple; }

#pagebody {
  position: relative;
  background: #f3f3f3; }
  #pagebody #tabrow {
    position: relative;
    width: 1040px;
    margin: 0 auto;
    padding: 5% 0 0; }
    #pagebody #tabrow .nav {
      position: relative;
      margin: 0 4px 0 0;
      padding: 1px 8px;
      border-radius: 15% 15% 0 0;
      float: left;
      bottom: 0px;
      background: #f7a388;
      color: white; }
      #pagebody #tabrow .nav:hover {
        background: #f05A29; }
    #pagebody #tabrow .selected {
      background: #f05A29; }
      #pagebody #tabrow .selected:hover {
        background: #f7a388; }
  #pagebody #that_one_line_at_the_top {
    width: 90%;
    margin: 0 auto;
    opacity: 0.27; }
  #pagebody #tilewrapper {
    position: relative;
    width: 1040px;
    background: #fff;
    margin: 0 auto 25px;
    padding: 0 3%;
    letter-spacing: -5px; }
    #pagebody #tilewrapper .tile {
      box-sizing: border-box;
      letter-spacing: .08em;
      position: relative;
      display: inline-block;
      width: 346.66667px;
      height: 577.77778px;
      padding: 1% 3% .8%;
      margin: 2% 0;
      overflow: hidden; }
      #pagebody #tilewrapper .tile .tag {
        background: #f7a388;
        color: white;
        border-radius: 8% 8% 0 0;
        float: left; }
        #pagebody #tilewrapper .tile .tag:hover {
          background: #f05A29; }
      #pagebody #tilewrapper .tile .date {
        float: right; }
      #pagebody #tilewrapper .tile .image {
        clear: both;
        overflow: hidden;
        position: relative;
        display: block;
        width: 100%;
        height: 213.77778px; }
        #pagebody #tilewrapper .tile .image img {
          position: relative;
          width: inherit;
          margin: 0 auto; }
      #pagebody #tilewrapper .tile .headline {
        margin: 4% 0;
        height: auto; }
        #pagebody #tilewrapper .tile .headline:hover {
          color: #626677; }
      #pagebody #tilewrapper .tile .text {
        overflow: hidden;
        display: block;
        font-weight: 500;
        padding: 5% 0; }
      #pagebody #tilewrapper .tile .tilefoot {
        position: absolute;
        width: 80%;
        bottom: 0px;
        padding: 0;
        margin: 0; }
        #pagebody #tilewrapper .tile .tilefoot .author {
          position: absolute;
          display: block;
          text-align: right;
          font-weight: normal;
          top: 0px;
          right: 0px; }
        #pagebody #tilewrapper .tile .tilefoot .readmore {
          position: absolute;
          display: block;
          top: 0px;
          left: 0px; }

@font-face {
  font-family: overlayfont;
  src: url("../assets/fonts/ufonts.com_avantgarde-book.ttf"); }
@font-face {
  font-family: navlinkfont;
  src: url("../assets/fonts/ufonts.com_avantgarde-demi-opentype.otf"); }
@font-face {
  font-family: headlinefont;
  src: url("../assets/fonts/Akzidenz-Grotesk-BQ-Bold-Extended_2808.ttf"); }
@font-face {
  font-family: splashtextfont;
  src: url("../assets/fonts/Akzidenz-Grotesk-BQ-Super_2842.ttf"); }
@font-face {
  font-family: tileheadfont;
  src: url("../assets/fonts/Akzidenz-Grotesk-BQ-Regular_2840.ttf"); }
@font-face {
  font-family: footcolheadfont;
  src: url("../assets/fonts/Akzidenz-Grotesk-BQ-Extended_2814.ttf"); }
@font-face {
  font-family: footcolitemfont;
  src: url("../assets/fonts/Akzidenz-Grotesk-BQ-Light_2831.ttf"); }
.overlayfont {
  font-family: overlayfont;
  font-size: .66rem;
  line-height: 1.1rem;
  letter-spacing: .02rem; }

.navlinkfont, #tabrow, #headerstuffchunk, #footfoot {
  font-family: navlinkfont;
  font-size: .66rem;
  line-height: 1.1rem;
  letter-spacing: .02rem; }

.headlinefont {
  font-family: headlinefont;
  font-size: 1.05rem;
  line-height: 1.2rem;
  letter-spacing: -.03rem; }

.splashtextfont, textarea, .tile {
  font-family: splashtextfont;
  font-size: .66rem;
  line-height: 1.1rem;
  letter-spacing: .02rem; }

.tileheadfont, .date, .tag {
  font-family: tileheadfont;
  font-size: .85rem;
  line-height: 1.1rem;
  letter-spacing: .02rem; }

.footcolhead {
  font-family: footcolheadfont;
  margin-bottom: 2em;
  font-size: 1.2rem;
  line-height: .7rem;
  letter-spacing: .2rem; }

.footcolitem {
  font-family: footcolitemfont;
  font-size: auto;
  line-height: 1.45em;
  letter-spacing: auto; }

@font-face {
  font-family: overlayfont;
  src: url("../assets/fonts/ufonts.com_avantgarde-book.ttf"); }
@font-face {
  font-family: navlinkfont;
  src: url("../assets/fonts/ufonts.com_avantgarde-demi-opentype.otf"); }
@font-face {
  font-family: headlinefont;
  src: url("../assets/fonts/Akzidenz-Grotesk-BQ-Bold-Extended_2808.ttf"); }
@font-face {
  font-family: splashtextfont;
  src: url("../assets/fonts/Akzidenz-Grotesk-BQ-Super_2842.ttf"); }
@font-face {
  font-family: tileheadfont;
  src: url("../assets/fonts/Akzidenz-Grotesk-BQ-Regular_2840.ttf"); }
@font-face {
  font-family: footcolheadfont;
  src: url("../assets/fonts/Akzidenz-Grotesk-BQ-Extended_2814.ttf"); }
@font-face {
  font-family: footcolitemfont;
  src: url("../assets/fonts/Akzidenz-Grotesk-BQ-Light_2831.ttf"); }
.overlayfont {
  font-family: overlayfont;
  font-size: .66rem;
  line-height: 1.1rem;
  letter-spacing: .02rem; }

.navlinkfont, #tabrow, #headerstuffchunk, #footfoot {
  font-family: navlinkfont;
  font-size: .66rem;
  line-height: 1.1rem;
  letter-spacing: .02rem; }

.headlinefont {
  font-family: headlinefont;
  font-size: 1.05rem;
  line-height: 1.2rem;
  letter-spacing: -.03rem; }

.splashtextfont, textarea, .tile {
  font-family: splashtextfont;
  font-size: .66rem;
  line-height: 1.1rem;
  letter-spacing: .02rem; }

.tileheadfont, .date, .tag {
  font-family: tileheadfont;
  font-size: .85rem;
  line-height: 1.1rem;
  letter-spacing: .02rem; }

.footcolhead {
  font-family: footcolheadfont;
  margin-bottom: 2em;
  font-size: 1.2rem;
  line-height: .7rem;
  letter-spacing: .2rem; }

.footcolitem {
  font-family: footcolitemfont;
  font-size: auto;
  line-height: 1.45em;
  letter-spacing: auto; }

#footer {
  position: relative;
  height: 400px;
  margin: 0;
  padding: 0; }
  #footer #that_one_line_at_the_bottom {
    width: 70%;
    margin: 0 auto;
    opacity: 0.27; }

#footcontent {
  position: relative;
  box-sizing: border-box;
  height: 60%;
  margin-left: 12.67%;
  margin-right: 20%;
  padding-top: 25px;
  background: #f3f3f3; }
  #footcontent .colspan-3-12 {
    width: 30%; }
  #footcontent .colspan-5-12 {
    width: 40%; }
  #footcontent .footcolumn {
    float: left; }
  #footcontent .footcolitem:hover {
    color: #f05A29; }

#footfoot {
  position: relative;
  height: 30%;
  background: #33353e;
  color: #fff; }
  #footfoot #copyrightwrapper {
    float: right;
    width: 33%; }
    #footfoot #copyrightwrapper img {
      display: block;
      width: 60%;
      margin: 3% auto 0; }
    #footfoot #copyrightwrapper #copyrightspan {
      font-size: 70%;
      text-align: center; }

/*# sourceMappingURL=frontpage.css.map */
