html {
  width: 100%;
  height: 100%; }

body {
  min-width: 100%;
  min-width: 444px;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  letter-spacing: .08em;
  background: #f3f3f3;
  color: #34363f; }

.clearfix {
  clear: both; }

#header {
  width: 100%;
  height: 100px;
  background: #f3f3f3; }

#main {
  background: #f3f3f3; }
  #main #tabrow {
    position: relative;
    width: 1060px;
    margin: 0 auto;
    padding: 5% 0 0; }
    #main #tabrow .nav {
      position: relative;
      margin: 0 11px 0 0;
      padding: 1px 8px;
      float: left;
      bottom: 0px;
      background: #f6ac9a;
      color: white; }
      #main #tabrow .nav:hover {
        background: #e33d14; }
    #main #tabrow .selected {
      background: #e33d14; }
      #main #tabrow .selected:hover {
        background: #ee5f3c; }
  #main #that_one_line_at_the_top {
    width: 94%;
    margin: 0 auto;
    opacity: .27; }
  #main #tilewrapper {
    position: relative;
    width: 1060px;
    background: #fff;
    margin: 0 auto;
    letter-spacing: -5px; }
    #main #tilewrapper .tile {
      box-sizing: border-box;
      letter-spacing: .08em;
      position: relative;
      display: inline-block;
      width: 353.33333px;
      height: 504.7619px;
      padding: 1% 3% .4%;
      overflow: hidden; }
      #main #tilewrapper .tile .tag {
        height: 20.19048px;
        padding: 0 3px;
        background: #f6ac9a;
        color: white;
        float: left; }
        #main #tilewrapper .tile .tag:hover {
          background: #e33d14; }
      #main #tilewrapper .tile .date {
        float: right; }
      #main #tilewrapper .tile .image {
        clear: both;
        overflow: hidden;
        position: relative;
        display: block;
        width: 100%;
        height: 186.7619px; }
        #main #tilewrapper .tile .image img {
          position: relative;
          width: inherit;
          margin: 0 auto; }
      #main #tilewrapper .tile .headline {
        margin: 4% 0;
        height: auto;
        font-size: 22.8px;
        line-height: 23.994px;
        font-family: Arial, Helvetica, sans-serif; }
        #main #tilewrapper .tile .headline:hover {
          color: #626677; }
      #main #tilewrapper .tile .text {
        overflow: hidden;
        display: block;
        height: 141.33333px;
        font-weight: 500;
        padding: 0 0 0 9px;
        text-align: justify; }
      #main #tilewrapper .tile .tilefoot {
        position: absolute;
        width: 80%;
        bottom: 0px;
        padding: 0;
        margin: 0; }
        #main #tilewrapper .tile .tilefoot .author {
          position: absolute;
          display: block;
          text-align: right;
          font-weight: normal;
          top: 0px;
          right: 0px;
          font-size: 10.8px; }
        #main #tilewrapper .tile .tilefoot .readmore {
          position: absolute;
          display: block;
          top: 0px;
          left: 0px;
          font-size: 10.8px; }

#footer {
  width: 100%;
  height: 200px;
  background: #f3f3f3; }

/*# sourceMappingURL=tile.css.map */
